<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>სესხის მოთხოვნა</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">ახალი მოთხოვნა</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/addLoanApplication}" th:object="${loanApplication}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">სახელი</label>
                        <input type="text" th:field="*{firstName}" class="form-control" id="name" placeholder="სახელი">
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName" class="col-form-label">გვარი</label>
                        <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="გვარი">
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="employer" class="col-form-label">დამსაქმებელი</label>
                        <input type="text" th:field="*{employer}" class="form-control" id="employer"
                               placeholder="დამსაქმებელი">
                        <span th:if="${#fields.hasErrors('employer')}" th:errors="*{employer}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="privateID" class="col-form-label">პირადი N</label>
                        <input type="text" th:field="*{privateID}" class="form-control" id="privateID"
                               placeholder="პირადი N">
                        <span th:if="${#fields.hasErrors('privateID')}" th:errors="*{privateID}"
                              class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="salary" class="col-form-label">ხელფასი</label>
                        <input type="number" th:field="*{salary}" class="form-control" id="salary" placeholder="ხელფასი">
                        <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="monthlyLiabilities" class="col-form-label">თვიური დანახარჯი</label>
                        <input type="number" th:field="*{monthlyLiabilities}" class="form-control" id="monthlyLiabilities" placeholder="თვიური დანახარჯი">
                        <span th:if="${#fields.hasErrors('monthlyLiabilities')}" th:errors="*{monthlyLiabilities}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="birthDate" class="col-form-label">დაბადების თარიღი</label>
                        <input type="text" th:field="*{birthDate}" class="form-control" id="birthDate"
                               placeholder="dd/MM/yyyy">
                        <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="requestedAmount" class="col-form-label">მოთხოვნილი თანხა</label>
                        <input type="number" th:field="*{requestedAmount}" class="form-control" id="requestedAmount" placeholder="მოთხოვნილი თანხა">
                        <span th:if="${#fields.hasErrors('requestedAmount')}" th:errors="*{requestedAmount}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="requestedTermDays" class="col-form-label">მოთხოვნილი პერიოდი(დღე)</label>
                        <input type="number" th:field="*{requestedTermDays}" class="form-control" id="requestedTermDays"
                               placeholder="მოთხოვნილი პერიოდი(დღე)">
                        <span th:if="${#fields.hasErrors('requestedTermDays')}" th:errors="*{requestedTermDays}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="დამატება">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>